// Colors present in the Styleguide

$primary-orange: #FB8500;

$primary-dark-grey: #0B141A;
$primary-dark-grey-60: rgba(2, 48, 71, 0.6);

$primary-white: #FFFFFF;
$primary-white-90: rgba(255, 255, 255, 0.9);
$primary-white-85: rgba(255, 255, 255, 0.85);
$primary-white-80: rgba(255, 255, 255, 0.8);
$primary-white-75: rgba(255, 255, 255, 0.75);
$primary-white-70: rgba(255, 255, 255, 0.7);
$primary-white-15: rgba(255, 255, 255, 0.15);
$primary-white-7: rgba(255, 255, 255, 0.07);

$comp-black-40: rgba(0, 0, 0, 0.4);
$comp-black-25: rgba(0, 0, 0, 0.25);
$comp-black-10: rgba(0, 0, 0, 0.1);
$comp-black-4: rgba(0, 0, 0, 0.04);

$comp-blue: #11495A;

$comp-light-blue: #23DEFF;

$comp-mid-grey: #484F59;

$comp-light-grey: #F6F6F9;

// Not present in the Styleguide

$comp-orange: #FB6900;

$comp-orange-secondary: #c16700;

$comp-light-grey-secondary: #0B141A;
$comp-light-grey-secondary-10: rgba(11, 20, 26, 0.1);
$comp-light-grey-secondary-30: rgba(11, 20, 26, 0.3);
$comp-light-grey-secondary-70: rgba(11, 20, 26, 0.7);
$comp-light-grey-secondary-90: rgba(11, 20, 26, 0.90);
$comp-light-grey-secondary-95: rgba(11, 20, 26, 0.95);

$comp-light-grey-tertiary: #4B5159;

$comp-light-grey-quartenary: #949494;

$comp-light-grey-quinary: #EDEDED;

$comp-light-grey-senary: #969696;

$comp-light-grey-septenary: #11495A;

$comp-mid-grey-secondary: #212730;

$comp-mid-grey-tertiary: #626f81;

$comp-mid-grey-quartenary: #0B141A;

$comp-mid-grey-quinary: #C6C6C6;

$comp-mid-grey-senary: #a1a1a1;

$comp-dark-grey: #0B141A;
$comp-dark-grey-90: rgba(11, 20, 26, 0.9);
$comp-dark-grey-80: rgba(11, 20, 26, 0.8);
$comp-dark-grey-70: rgba(11, 20, 26, 0.7);
$comp-dark-grey-60: rgba(11, 20, 26, 0.6);

$comp-dark-grey-secondary: #4a4a4a;

$comp-dark-grey-tertiary: #838383;

$comp-dark-grey-quaternary: #9d9d9d;

$comp-dark-blue: #316AC0;

$comp-dark-blue-secondary-22: rgba(16, 42, 67, 0.22);
$comp-dark-blue-tertiary: #043750;
$comp-dark-blue-quaternary: #044ab4;
$comp-dark-blue-quinary: #1F529D;
$comp-dark-blue-senary: #005F8E;
$comp-dark-blue-septenary: #084564;

$comp-mid-blue: #5CB1FA;
$comp-mid-blue-90: rgba(92, 177, 250, 0.9);;

$comp-mid-blue-secondary: #3CABE2;
$comp-mid-blue-tertiary: #11BADF;

$comp-white-blue: #b7dff2;
$comp-white-blue-secondary: #a4bcdd;
$comp-white-blue-tertiary: #f6f9fe;
$comp-white-blue-quaternary: #e0ebff;
$comp-white-blue-quinary: #BDD1F0;
$comp-white-blue-senary: #EAEBEC;
$comp-white-blue-septenary: #DBDBF0;

$comp-purple-10: rgba(98, 103, 239, 0.1);

$comp-purple-secondary: #8487ab;

$comp-purple-tertiary: #d6d8e1;

$comp-grey-red: #4d4d4d;
$comp-grey-red-secondary: #E5E5E5;
$comp-grey-red-tertiary: #7c7c7c;
$comp-grey-red-quaternary: #ececec;
$comp-grey-red-quinary: #4d4d4d;
$comp-grey-red-senary: #0B141A;
$comp-grey-red-septenary: #8a8a8a;

$comp-light-orange: #FFD95A;
$comp-light-orange-secondary: #FFC500;
$comp-light-orange-tertiary: #fff1cd;

$comp-white: #F9FAFD;
$comp-white-secondary: #F7F7FF;
$comp-white-tertiary: #E3E4FF;

$comp-error-message-color: #FF475D;

$demo-background-gradient: radial-gradient(#23DEFF 35%, #11BADF 62%);

$pro-background-gradient: radial-gradient(circle at left 70% top 85%, #C4C4C4, #023047 42%);
