@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 300;
  src: local('Graphik Light'), url('/assets/fonts/Graphik-Light.woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: local('Graphik Regular'), url('/assets/fonts/Graphik-Regular.woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  src: local('Graphik Medium'), url('/assets/fonts/Graphik-Medium.woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  src: local('Graphik Semibold'), url('/assets/fonts/Graphik-Semibold.woff');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  src: local('Graphik Bold'), url('/assets/fonts/Graphik-Bold.woff');
}
