{{ define "content" }}

  {{ with .Deprecation }}
    <div class="block-callout block-show-callout type-warning"><p>{{.}}</p></div>
  {{ end }}

  <h1 class="d-none d-lg-block">{{.Title}}</h1>

  {{ .Document }}

  <div id="footer">
    We welcome
    <a href="https://github.com/convox/docs/edit/master/docs/{{.Category}}/{{.Slug}}.md">suggested changes</a>
    to this document.
  </div>

{{ end }}
