{{ define "main" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Convox Docs</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/docs.css">
      <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />

      <script src="/assets/js/jquery-3.3.1.min.js"></script>
      <script src="/assets/js/jquery-ui.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/moment.min.js"></script>
      <script src="/assets/js/jquery.timeago.js"></script>
      <script src="/assets/js/clipboard.min.js"></script>

      {{ block "head" . }}{{ end }}
    </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <a class="navbar-brand" href="https://convox.com">
            <img src="/assets/images/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto flex-row">
              <li class="nav-item active ml-1 ml-md-4 mr-4 mr-md-0"><a class="nav-link" href="https://docs.convox.com">Documentation</a></li>
              <li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0"><a class="nav-link" href="https://convox.com/pricing">Pricing</a></li>
              <li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0 mt-1">
                <a class="btn btn-primary btn-sm" href="https://console.convox.com/login">
                  <i class="fa fa-user mr-1"></i>
                  Login
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <div id="toc-small" class="d-lg-none">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{.Title}}
          </button>
          <div class="dropdown-menu">
            {{ range $c := .Categories }}
              <div class="category">
                <h6 class="dropdown-header">{{.Name}}</h6>
                {{ range .Documents }}
                  <a class="dropdown-item" href="/{{$c.Slug}}/{{.Slug}}">{{.Title}}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <nav id="toc" class="sidebar d-none d-lg-block">
          <ul class="nav nav-pills flex-column">
            {{ range $c := .Categories }}
              <div class="category">{{.Name}}</div>
              <ul class="documents">
                {{ range .Documents }}
                  <li><a {{ if and (eq $.Slug .Slug) (eq $.Category $c.Slug) }}class="active"{{ end }} href="/{{$c.Slug}}/{{.Slug}}">{{.Title}}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </ul>
        </nav>

        <main role="main" class="flex-column col">
          {{ template "content" . }}
        </main>
      </div>

      <script>
        Popper.Defaults.modifiers.computeStyle.enabled = false;

        $(function() {
          return $("h2, h3, h4, h5, h6").each(function(i, el) {
            var $el, icon, id;
            $el = $(el);
            id = $el.attr('id');
            icon = '<i class="fa fa-link"></i>';
            if (id) {
              return $el.prepend($("<a />").addClass("heading-link").attr("href", "#" + id).html(icon));
            }
          });
        });
      </script>

    </body>
  </html>
{{ end }}
